
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
  

--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);

--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
}
body{
    font-family: "Monorope",sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
}
.main{
    height:100vh ;
    width: 100%;
    background-color: var(--Dark-Blue);
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
html{
    font-size: 62.5%;
}
.advice{
    max-width: 55rem;
    width: 90%;
    background-color: var(--Grayish-Blue);
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
}
.advice-title{
    color: var(--Neon-Green);
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: .2rem;
}
.advice-text{
    color: var(--Light-Cyan);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.advice-line img{
    width: 100%;
    margin-bottom: 2rem;
}
.advice-btn{
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    width: 4rem;
    background-color: var(--Neon-Green);
    transition: all .3s;
    border-radius: 100%;
    cursor: pointer;
}

.advice-btn img{
    height: 100%;
    width: 100%;
    transform: scale(0.5);
}
